:root {
    --main-color: #ebeff3;
    --secondary-color:#9cb8d4;
    --selectedDay: gray;
    --weekdays: #393f4b;
    --currentDay: #e82c2c;
    --error: red;
  }
#root{
    background-color: #cfd8de;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color:var(--main-color);
    padding: 1em;

}

.hours{
    border: solid var(--weekdays) 2px;
    min-width: 20em;
    background-color: white;

}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    border: dashed var(--weekdays) 2px;
    background-color: white;

}

.line{
    margin-left: 2px;;
    border: 1px dashed var(--selectedDay);
    width: 100%; 
}


.weekdays{
    display: flex;
    justify-content: space-around;
    background-color: var(--weekdays);
    color: white;
}

.hasEvent::after{
    content: "*";
}

.currentDay{
    background-color: var(--currentDay);
    border-radius: 50%;
}

.redCell{
    background-color: var( --error);
}
.blackCell{
    color: var(--weekdays);

}

.selectedDay{
    background-color: var(--selectedDay);
}

.hasScheduledMeet{
    background-color: var( --secondary-color);
    border-bottom: 0px;
}
.newevent{
    margin-top: 1em;
}
.error{
   color: var( --error);
}
.controls{
    gap: 3px;
    margin: 3px;
}
.secondary{
    background-color: #3678e5;
    color: white

}
@media only screen and (min-width: 800px) {
    .wrapper {
      width: 60%;
    }
}

  @media only screen and (max-width: 400px) {
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    a{
        display: none;
    }
  }
