:root {
  --main-color: #ebeff3;
  --primary-color: #9cb8d4;
  --selectedDay: gray;
  --weekdays: #393f4b;
  --currentDay: #e82c2c;
  --error: red;
  --gap: 0.5em;
  --primaryButtonColor: #3678e5;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-gap: 1rem;
  padding: 1em;
}

.mainDateHeading {
  font-size: 2em;
  font-weight: 500;
}
.weekDayHeading {
  font-size: 1.5em;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(166, 168, 179,0.12);
}

#leftPane, #calendarBox {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  padding: 1rem;
}

.hours {
  min-width: 20em;
  background-color: white;
}

.hourRow {
  flex-direction:row;
  height: 1.5rem;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 2em);
  grid-auto-rows: 2em;
  background-color: white;
  grid-gap: var(--gap);
}

.line {
  margin-left: 2px;
  border: 1px dashed var(--selectedDay);
  flex: 10;
}
.timestamp {
  flex: 1;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: #99a1a7;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179,0.12);
  font-size: 0.7em;
}

.hasEvent::after {
  content: "*";
}

.redCell {
  background-color: var(--error);
}

.blackCell {
  color: var(--weekdays);
}

.cellCircle {
  cursor: pointer;
  line-height: 2em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  display: inline-block;
  text-align: center;
}

.currentDay {
  background-color: var(--currentDay);
}

.selectedDay{
  background-color: var(--selectedDay);
}

.hasScheduledMeet {
  background-color: var(--primary-color);
  border-bottom: 0px;
}

.error {
  color: var(--error);
}
.errorField {
  border-color: var(--error);
}
.controls {
  gap: 3px;
  margin: 5px;
  border-radius: 0.3rem;
}
.primary {
  background-color: var(--primaryButtonColor);
  color: white;
}
.remove {
  position: relative;
  top: -7px;
  color: white;
  background: var(--currentDay);
  left: 1px;
  border: 1px solid;
  border-radius: 1em;
  margin-right: 5px;
  width: 1em;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
}
.up {
  margin-bottom: var(--gap);
}
.down {
  margin-top: var(--gap);
}
.button {
  border-radius: 12%;
}
@media only screen and (min-width: 800px) {
  #leftPane {
    min-width: 40em;
  }
}

@media only screen and (max-width: 400px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  a {
    display: none;
  }
}
