.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background: #f5f7fa;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
  color: #51565d;
}
