.container {
  display: flex;
  margin-top: 50px;
}
.item {
  transition: transform 500ms;
}
.item img {
  max-width: 100%;
  
  
}

/* move left so they dont overlap */
.container:focus-within .item,
.container:hover .item {
  transform: translateX(-25%);
}

/* .item:focus ~ .item,
  .item:hover ~ .item {
    transform: translateX(25%);
  } */
/* body {
    overflow: hidden;
  } */

.container .item:focus,
.container .item:hover {
  transform: scale(1.5);
  z-index: 1;

}
/* moving items to right */
.item:hover ~ .item {
  transform: translateX(25%);
}
.item img:hover{
  border-radius: 1em;
}
